#root {
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
	padding: 0 1rem;
	text-align: center;
	box-sizing: border-box;
}

.app-title {
	margin: 10px 0;
	font-size: 24px;
}

.app-card {
	padding: 0;
	width: 100%;
	margin: 0 auto;
	box-sizing: border-box;
}

.run-button {
	margin-bottom: 10px;
	width: 100%;
	max-width: 800px;
	box-sizing: border-box;
}
